
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Poppins:wght@400;500&display=swap');

.App {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  
}

h1{
 font-family: 'Domine', serif; 
 font-size: 44px;
 letter-spacing: 4px;
 margin-top: 40px;
 text-align: center;

}